extends layout

block body
  div(ui-view)

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='bower_components/angular-sanitize/angular-sanitize.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
  script(src='app/app.js')
  script(src='app/services/socket.service.js')
  script(src='app/controllers/season-selection.controller.js')
  script(src='app/controllers/board.controller.js')
  script(src='app/controllers/board-clue.controller.js')
  script(src='app/controllers/game-selection.controller.js')
  script(src='app/controllers/game.controller.js')
  script(src='app/controllers/game-clue.controller.js')
  script(src='app/directives/app-version.directive.js')
  script(src='app/filters/interpolate.filter.js')
